/*  Navbar */




/*  Jumbotron: about me */



/*  Card deck: projects */
#projects-title {
    text-align: center;
}


/*  Carousel: skills*/

#skills-title {
    text-align: center;
}
#carousel-container {
    display: flex;
    justify-content: center;
}

.carousel {
    background-color: aqua;
    max-width: 500px;
    min-width: 300px;
    

}

.carousel-item {
    height: 200px;

}


/*  Single card: contact me */
#contact-title {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
}


/*   */
footer {
    background-color: pink;
}



/*   */
/*   */
/*   */