* {
    /* background-color: rgb(59, 59, 59); */
    font-family: 'IBM Plex Mono', monospace;
    /* font-family: 'Yantramanav', sans-serif; */
}

body {
    background-color: rgb(255, 255, 255);
}

/* Navbar */
#nav-title {
    background-color: rgb(59, 59, 59);
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Fredericka the Great', cursive;
    color: rgb(127, 187, 255);
    text-align: center;
    margin: 0;
    padding: 10px;
    font-weight: 900;
    font-size: 6rem;
}

.bg-light {
    background-color: rgb(59, 59, 59) !important;
    margin-bottom: 0px;

}

.nav-item {
    padding-left: 40px;
    padding-right: 40px;
}

#navbarSupportedContent {
    justify-content: center;
}

ul {
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Fredericka the Great', cursive;
    color: rgb(60, 215, 253);
    border-bottom: 4px solid black;
    padding: 2px;
    font-weight: 600;
    margin-bottom: 0;
}



/*  Jumbotron: about me */
.jumbotron {
    background-image: linear-gradient(rgb(59, 59, 59), white);
    margin-bottom: 40px;
}

.display-4 {
    font-family: 'IBM Plex Mono', monospace !important;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(60, 215, 253);
    font-size: 10rem;
    margin-bottom: 0;
}

#world {
    font-size: 8rem;
    text-align: right;
    margin-top: -60px;
}

/* blinking cursor after "world" */
.box h1 {
    font-family: 'IBM Plex Mono', monospace !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}


.box h1::after{
    content: "";
    width: 6px;
    height: 8rem;
    background: rgb(255, 255, 255);
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}

/* Transparent background */
#hello {
    background-color: rgba(255, 255, 255, 0);
}

#lead-left {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: end;
    padding-right: 20px;
}


#jumbo-text {
    background-color: rgba(255, 255, 255, 0);
}

i {
    background-color: rgba(255, 255, 255, 0);
}


.pfp {
    display: flex;
    justify-content: center;
}

#pfp {
    max-width: 300px;
    /* border: 5px solid black; */
    border-radius: 50%;
    /* box-shadow: 3px 4px 5px; */
    margin: 30px;
    margin-top: 0;
}


.jumbo-col-right {
    justify-self: right;
}


/*  Card deck: projects */
.deck-wrapper {
    /* border: 2px solid black; */
    margin-bottom: 40px;
    padding: 10px;
}

#projects-title {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 4rem;
}

.card-deck {
    display: flex;
    justify-content: center;
}

.col-lg-3, .col-sm-12 {
    padding: 0;
}

.card {
    border-radius: 0px;
}

.card-body {
    background-color: black;
    color: white;
}

.list-group-item {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

a:hover {
    text-decoration: none;
    color:rgb(60, 215, 253);
}


/*  Carousel: skills*/
/* .carousel-wrapper {
    margin-bottom: 40px;
} */

#skills-title {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 4rem;
}
#carousel-container {
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0))
}

.carousel {
    background-color: rgb(255, 255, 255);
    color:black;
    max-width: 500px;
    min-width: 500px;
    min-height: 350px;

} 

.carousel i {
    color: rgb(60, 215, 253);
}

.carousel-item {
    padding: 40px;
    text-align: center;
}




/*  Single card: contact me */
.contact-wrapper {
    border: 2px solid black;
    margin-bottom: 40px;
}


#contact-title {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 0px;
    /* margin-top: 30px; */
    font-size: 4rem;
}


/*   */
footer {
    background-color: pink;
    border: 2px solid black;
}



/*   */
/*   */
/*   */