* {
    /* background-color: rgb(59, 59, 59); */
    font-family: 'IBM Plex Mono', monospace;
}

body {
    background-color: rgb(255, 255, 255);
}

/* Navbar */
#nav-title {
    background-color: rgb(59, 59, 59);
    color: rgb(127, 187, 255);
    text-align: center;
    margin: 0;
    padding: 10px;
    font-weight: 900;
    font-size: 60px;
}

.bg-light {
    background-color: rgb(59, 59, 59) !important;
    margin-bottom: 0px;

}

.nav-item {
    padding-left: 40px;
    padding-right: 40px;
}

#navbarSupportedContent {
    justify-content: center;
}

ul {
    font-size: 20px;
    /* border: 2px solid orangered; */
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(60, 215, 253);
    border-bottom: 4px solid black;
    padding: 2px;
    font-weight: 600;
    margin-bottom: 0;
}



/*  Jumbotron: about me */
.jumbotron {
    background-image: linear-gradient(rgb(59, 59, 59), white);
    
    /* border: 2px solid black; */
    margin-bottom: 40px;
}

.display-4 {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(60, 215, 253);
    font-size: 150px;
    margin-bottom: 0;
}

#world {
    font-size: 120px;
    text-align: right;
    margin-top: -55px;
}

#hello {
    background-color: rgba(255, 255, 255, 0);
}

.lead {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
}


#jumbo-text {
    background-color: rgba(255, 255, 255, 0);
}

i {
    background-color: rgba(255, 255, 255, 0);
}


.pfp {
    display: flex;
    justify-content: center;
}

#pfp {
    max-width: 300px;
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: 3px 4px 5px;
    margin: 30px;
}


/*  Card deck: projects */
.deck-wrapper {
    /* border: 2px solid black; */
    margin-bottom: 40px;
    padding: 10px;
}

#projects-title {
    text-align: center;
    font-size: 40px;
}

.card-deck {
    display: flex;
    justify-content: center;
}

.col-lg-3, .col-sm-12 {
    padding: 0;
}

.card {
    border-radius: 0px;
}

.card-body {
    background-color: black;
    color: white;
}

.list-group-item {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

a:hover {
    text-decoration: none;
    color:rgb(60, 215, 253);
}


/*  Carousel: skills*/
.carousel-wrapper {

    margin-bottom: 40px;
}

#skills-title {
    text-align: center;
    font-size: 40px;
}
#carousel-container {
    display: flex;
    justify-content: center;
}

.carousel {
    background-color: aqua;
    max-width: 500px;
    min-width: 400px;
    min-height: 300px;
    color-interpolation-filters: ;
}

.carousel-item {
    height: 200px;
}




/*  Single card: contact me */
.contact-wrapper {
    border: 2px solid black;
    margin-bottom: 40px;
}


#contact-title {
    text-align: center;
    margin-bottom: 0px;
    /* margin-top: 30px; */
    font-size: 40px;
}


/*   */
footer {
    background-color: pink;
    border: 2px solid black;
}



/*   */
/*   */
/*   */